<h1>Test#test</h1>
<p>Test</p>

<%= link_to("Home", {:action => 'test'}) %>

<p>
  <%= "Parametr id " + params[:id] %><br><hr>
  <%= "Imie i nazwisko " + params[:name]  %><br><hr>
  <%= "Lat: " + params[:age]%><br><hr>
  <%= "Pojazdy: " + params[:cars]%><br><hr>
</p>