<h1>Edytowanie kategorii</h1>


<%= form_for(:category, :url => {:action => 'edit_category', :id => @category.id}) do |form| %>

  <table class="table table-striped">
    <tr>
      <th><%= form.label(:name) %></th>
      <th><%= form.text_field(:name, :class => "form-control") %></th>
    </tr>
    <tr>
      <th><%= form.label(:position) %></th>
      <th><%= form.select(:position, 1..@count_category, :class => 'form-control') %></th>
    </tr>
    <tr>
      <th><%= form.label(:visible, "Czy jest widoczna?") %></th>
      <th><%= form.check_box(:visible) %></th>
    </tr>
  </table>

  <div>
    <%= submit_tag('Zaaktualizuj', :class => "btn btn-primary") %>
    <%= link_to("Powrót", {:action => 'index'}, :class => 'btn btn-warning') %>
  </div>

<% end %>