<div class="hero-unit">
<h1>Categories</h1>
<%= link_to("Dodaj nową kategorie", {:action => :new}, :class => 'btn btn-mini btn-primary') %>
<p style="text-align: right">Ilość kategorii: <% @category.size %></p>


<table class="table table-striped">
  <tr class="table-info">
    <th>Pozycja</th>
    <th>Nazwa kategorii</th>
    <th>Widoczna</th>
    <th>Strony</th>
    <th>Akcja</th>
  </tr>
  <% @category.each do | categoryList | %>

  <tr>
    <td><%= categoryList.position %></td>
    <td><%= categoryList.name %></td>
    <td class="align-content-center"><%= categoryList.visible ? "Tak" : "Nie" %></td>
    <td><%= categoryList.pages.size %></td>
    <td>
      <%= link_to("Pokaż", {:action => "show", :id => categoryList.id}, :class => 'btn btn-success') %>
      <%= link_to("Edycja", {:action => 'edit', :id => categoryList.id}, :class => 'btn btn-xs btn-primary') %>
      <%= link_to("Usuń", {:action => "delete", :id => categoryList.id}, :class => 'btn btn-danger') %>
    </td>
  </tr>
  <% end %>
</table>
</div>