<!DOCTYPE html>
<html>
<head>
  <title>Finance blog</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<div class = "container">
  <%= yield %>
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted">created by Patryk Woźniak &copy;</p>
  </div>
</div>

</body>
</html>
